.reset-password-wrapper, 
.reset-password-email-sent-wrapper,
.reset-password-confirm-wrapper{
    background-color: rgb(185, 183, 177);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.reset-password-form, 
.reset-password-confirm-form,
.email-was-sent{
    width: 40%;
    height: 60%;
    padding: 20px;
    min-height: 220px;
    background-image: url('../images/change\ password.png');
    background-size: 100% 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    -webkit-box-shadow: -2px 38px 51px 20px rgba(156,151,156,1);
    -moz-box-shadow: -2px 38px 51px 20px rgba(156,151,156,1);
         box-shadow: -2px 38px 51px 20px rgba(156,151,156,1);     
}
.reset-password-form{
    -webkit-box-shadow: -2px 30px 51px 20px rgba(156, 151, 156, 0.527);
    -moz-box-shadow: -2px 30px 51px 20px rgba(156, 151, 156, 0.432);
         box-shadow: -2px 30px 51px 20px rgba(156, 151, 156, 0.712);  
}
.email-was-sent{
    height: 30%;
    width: 70%;
    font-size: 18px;
    padding:4px;
}
.reset-password-confirm-form>*, .reset-password-form>*{
    width: 80%;
}
.reset-password-form h5, .reset-password-confirm-form h3 {
    margin-top: -50px;
    width: 100%;
    padding: 10px;
    color: rgb(83, 83, 83);
}

.reset-password-submit-btn, .reset-password-confirm-submit-btn{
    margin-top: 15px;
    padding: 4px;
    width:25%;
    background-color: rgb(83, 83, 83);
    border-radius: 18px;
    color: rgb(218, 218, 188);
    font-size: 16px;
    cursor: pointer;
}
.reset-password-submit-btn:hover, .reset-password-confirm-submit-btn:hover{
    background-color: rgb(100, 100, 100);
}
@media(max-width:470px){
    .reset-password-form{
        width:85%;
        height: 40%;
      
    }
    .reset-password-confirm-form{
        height: 60%;
        width:90%;
    }
    .reset-password-form>*,.reset-password-confirm-form>*{
        width: 95%;
    }
    .reset-password-submit-btn, .reset-password-confirm-submit-btn{
    width: 32%;
}
.email-was-sent{
    width:95%;
    height: 40%;
    font-size: 16px;
}

}
@media(min-width:470px) and (max-width:550px){
    .reset-password-form,.reset-password-confirm-form{
        width:75%;
        height: 50%;
    }
    .email-was-sent{
        width:85%;
        font-size: 17px;
    }
}

@media(min-width:551px) and (max-width:700px){
    .reset-password-form{
        width:65%;
        height: 63%;
    }
    .email-was-sent{
        width:85%;
    }
    .reset-password-confirm-form{
        width:75%;
        height: 55%;
    }
    .reset-password-confirm-form>*{
        width:85%;
    }
    .reset-password-confirm-submit-btn{
        width:32%;
    }
}

@media (min-width:701px) and (max-width:900px){
    .reset-password-form{
        width:60%;
        height: 60%;
        border: 1px solid red;
    }
}

@media (min-width:901px) and (max-width:1050px){
    .reset-password-form{
        width:50%;
        height: 55%;
    }
}
@media (orientation:landscape) and (max-width:766px){
    .reset-password-form, .reset-password-confirm-form{
       margin: 20px; 
 
    /*    height: 65%;
       width: 75%; */
    } 
    .reset-password-form h5, .reset-password-confirm-form h5{
        margin-top: 0px;
        padding: 0px;
    }
    .email-was-sent{
        width:89%;
        height: 40%;
    }      
} 

@media (max-width:699px){
    .reset-password-form{
        margin-top: -50px;
        height: 50vh;
    }
}
